@model HastaTakipWeb.Models.Siniflar.Hakkimizda
@{
    ViewBag.Title = "HakkimizdaGetir2";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

@using (Html.BeginForm("HakimmizdaGüncelle2","admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.baslik1,"Başlık")
    @Html.TextBoxFor(x => x.baslik1, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.aciklama1,"Açıklama")
    @Html.TextBoxFor(x => x.aciklama1, new { @class = "form-control" })
<br />


    <button class="btn btn-success">Güncelle</button>
}

