@model HastaTakipWeb.Models.Siniflar.Hakkimizda
@{
    ViewBag.Title = "HakkimizdaGetir3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

@using (Html.BeginForm("HakimmizdaGüncelle3", "admin", FormMethod.Post))
{
    @Html.LabelFor(x => x.id)
    @Html.TextBoxFor(x => x.id, new { @class = "form-control", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.baslik2,"Başlık")
    @Html.TextBoxFor(x => x.baslik2, new { @class = "form-control" })
    <br />
    @Html.LabelFor(x => x.aciklama2,"Açıklama")
    @Html.TextBoxFor(x => x.aciklama2, new { @class = "form-control" })
<br />


    <button class="btn btn-success">Güncelle</button>
}
