@using HastaTakipWeb.Models.Siniflar
@model List<HastaRaporlari>
@{
    ViewBag.Title = "HastaRaporlari";
    Layout = "~/Views/Shared/_DoktorHemsireLayout.cshtml";
}

<input style="width: auto !important; float: right; margin-top: 20px; margin-bottom: 40px;" type="text" id="searchInput" class="form-control" placeholder="Hasta Ara...">


<table class="table table-striped">
    <thead>
        <tr>
            <th>Adı</th>
            <th>Soyadı</th>
            <th>Cinsiyeti</th>
            <th>Teşhis</th>
            <th>İlaç</th>
            <th>İlgili Doktor</th>

            <th>Kimlik Numarası</th>
            <th>Tarih</th>

            <th style="vertical-align: middle; text-align: center">Güncelle</th>
            <th style="vertical-align: middle; text-align: center">Sil</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model)
        {
                <tr>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;">
                            @x.Ad
                        </p>
                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.Soyad
                        </p>
                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.Cinsiyet
                        </p>

                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.Teshis
                        </p>

                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.ilac
                        </p>

                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.bakandoktor
                        </p>

                    </td>

                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.KimlikNumarası
                        </p>

                    </td>
                    <td style="vertical-align: middle;">
                        <p style="margin: 0;" class="text-wrap">
                            @x.tarih.Date.ToString("dd/MM/yyyy")
                        </p>

                    </td>

                    <td style="vertical-align: middle; text-align: center"><a href="/Admin/HastaRaporeGetir/@x.HastanınId" class="btn btn-primary">güncelle</a></td>
                    <td style="vertical-align: middle; text-align: center"><a href="/Admin/HastaRaporSil/@x.HastanınId" class="btn btn-danger">Sil</a></td>
                </tr>
            

        }
    </tbody>
</table>

